<img style="margin: auto" src="https://www.ntu.edu.sg/images/default-source/corporate/ntu_logo.png?sfvrsn=b5dd1d82_5" width=500/>

#  SC2207: Lab 5
TCCA Group 2

<table>
      <thead>
        <tr class="header">
          <th><strong>Full Name</strong></th>
          <th><strong>Individual Contribution to Lab 5 Submission</strong></th>
          <th><strong>Percentage of Contribution</strong></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Zhu Zhanyan</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.07813in; height: 0.43125in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Chua Ze Ming</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 0.98311in; height: 0.42232in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Nguyen Ngoc Minh</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.09896in; height: 0.34052in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Natalie Ng Shi En</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.49393in; height: 0.37874in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Donovan Ang</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.18229in; height: 0.33614in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Issac Lim</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.47917in; height: 0.43056in"
            />
          </td>
        </tr>
      </tbody>
    </table>

# Setup
Install [MS SQL Server ODBC driver](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16).

In [2]:
# Add the signature to trust the Microsoft repo
# For Ubuntu versions < 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo tee /etc/apt/trusted.gpg.d/microsoft.asc
# For Ubuntu versions >= 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo gpg --dearmor -o /usr/share/keyrings/microsoft-prod.gpg

# Add repo to apt sources
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list

# Install the driver
!sudo apt-get update
!sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
# optional: for bcp and sqlcmd
!sudo ACCEPT_EULA=Y apt-get install -y mssql-tools18

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0   4619      0 --:--:-- --:--:-- --:--:--  4636
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.7 (GNU/Linux)

mQENBFYxWIwBCADAKoZhZlJxGNGWzqV+1OG1xiQeoowKhssGAKvd+buXCGISZJwT
LXZqIcIiLP7pqdcZWtE9bSc7yBY2MalDp9Liu0KekywQ6VVX1T72NPf5Ev6x6DLV
7aVWsCzUAF+eb7DC9fPuFLEdxmOEYoPjzrQ7cCnSV4JQxAqhU4T6OjbvRazGl3ag
OeizPXmRljMtUUttHQZnRhtlzkmwIrUivbfFPD+fEoHJ1+uIdfOzZX8/oKHKLe2j
H632kvsNzJFlROVvGLYAk2WRcLu+RjjggixhwiB+Mu/A8Tf4V6b+YppS44q8EvVr
M+QvY7LNSOffSO6Slsy9oisGTdfE39nC7pVRABEBAAG0N01pY3Jvc29mdCAoUmVs
ZWFzZSBzaWduaW5nKSA8Z3Bnc2VjdXJpdHlAbWljcm9zb2Z0LmNvbT6JATUEEwEC
AB8FAlYxWIwCGwMGCwkIBwMCBBUCCAMDFgIBAh4BAheAAAoJEOs+lK2+EinPGpsH
/32vKy29Hg51H9dfFJMx0/a/F+5vKeCeVqimvyTM04C+XENNuSbYZ3eRPHGHFLqe
MNGxsfb7C7ZxEeW7J/vSzRgHxm7ZvESisUYRFq2sgkJ+HFERNrqfci45bdhmrUsy
7SWw9ybxdFOkuQoyKD3tBmiGfONQMlBaOMWdAsic965rvJsd5zYaZZFI1UwTkFXV
KJt3bp3Ngn1vEYXwijGTa+FXz6GLHueJwF0I7ug34DgUkAFvAs8Hacr2DRYxL5RJ
XdNgj4Jd2/g6T9InmWT0hASljur+dJnzNiNCkbn9KbX7J/qK1IbR8y560yRmFsU+
NdCFTW7wY0Fb1fWJ+/KTsC4=
=J6gs
-----END PGP PUBLIC KEY BLOCK-----
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0   7371      0 --:--:-- --:--:-- --:--:--  7446
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    88  100    88    0     0    273      0 --:--:-- --:--:-- --:--:--   273
Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease [3,632 B]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:7 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:10 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main all Packages [1,243 B]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:12 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 Packages [168 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,074 kB]
Get:14 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main armhf Packages [15.3 kB]
Get:15 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main arm64 Packages [39.3 kB]
Hit:16 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,450 kB]
Hit:18 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:19 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,654 kB]
Get:21 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,424 kB]
Get:22 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,601 kB]
Get:23 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,377 kB]
Fetched 19.2 MB in 2s (7,725 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  odbcinst unixodbc
The following NEW packages will be installed:
  msodbcsql18 odbcinst unixodbc
0 upgraded, 3 newly installed, 0 to remove and 50 not upgraded.
Need to get 792 kB of archives.
After this operation, 164 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 odbcinst amd64 2.3.9-5ubuntu0.1 [9,930 B]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 unixodbc amd64 2.3.9-5ubuntu0.1 [26.7 kB]
Get:3 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 msodbcsql18 amd64 18.4.1.1-1 [755 kB]
Fetched 792 kB in 0s (3,494 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package odbcinst.
(Reading database ... 123622 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package msodbcsql18.
Preparing to unpack .../msodbcsql18_18.4.1.1-1_amd64.deb ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Unpacking msodbcsql18 (18.4.1.1-1) ...
Setting up odbcinst (2.3.9-5ubuntu0.1) ...
Setting up unixodbc (2.3.9-5ubuntu0.1) ...
Setting up msodbcsql18 (18.4.1.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Processing triggers for man-db (2.10.2-1) ...
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  mssql-tools18
0 upgraded, 1 newly installed, 0 to remove and 50 not upgraded.
Need to get 211 kB of archives.
After this operation, 0 B of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 mssql-tools18 amd64 18.4.1.1-1 [211 kB]
Fetched 211 kB in 0s (427 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package mssql-tools18.
(Reading database ... 123655 files and directories currently installed.)
Preparing to unpack .../mssql-tools18_18.4.1.1-1_amd64.deb ...
Unpacking mssql-tools18 (18.4.1.1-1) ...
Setting up mssql-tools18 (18.4.1.1-1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline


Ensure packages are installed with `pip install -r requirements.txt`

In [3]:
%pip install jupysql==0.10.14 jupysql-plugin==0.4.5 pyodbc==5.1.0

Collecting jupysql==0.10.14
  Downloading jupysql-0.10.14-py3-none-any.whl.metadata (5.5 kB)
Collecting jupysql-plugin==0.4.5
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting pyodbc==5.1.0
  Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (3.11.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (25.1.0)
Collecting ploomber-core>=0.2.7 (from jupysql==0.10.14)
  Downloading ploomber_core-0.2.25-py3-none-any.whl.metadata (536 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql==0.10.14) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql==0.10.14)
  Downloading posthog-3.7.0-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql==0.10.14) (3.0.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql==0.10.14) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql==0.10.14) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql==0.10.14) (3.1.1)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2024.8.30)
Downloading jupysql-0.10.14-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.0/95.0 kB 2.7 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.1 MB/s eta 0:00:00
Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.7/334.7 kB 15.9 MB/s eta 0:00:00
Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Downloading posthog-3.7.0-py2.py3-none-any.whl (54 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.4/54.4 kB 4.3 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, pyodbc, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.14 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.25 posthog-3.7.0 pyodbc-5.1.0


## Imports

In [4]:
import os
import pyodbc
from getpass import getpass

from sqlalchemy import create_engine
from sqlalchemy.engine import URL

# ensure sql server driver / tools accessible on path
os.environ["PATH"] = f"{os.environ['PATH']}:/opt/mssql-tools18/bin"
%load_ext sql

## Database Credentials

In [5]:
password = os.environ.get("MSSQL_SA_PASSWORD") or getpass("SA user password: ")

SA user password: ··········

## Setup Database Connection

In [6]:
connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password=password,
    # TODO change this to zemings IP & port BUT CHANGE IT BACK BEFORE COMMITTING
    host="localhost",
    port=1433,
    # zemings IP & port
    # host="152.42.253.110",
    # port=8080,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)
%sql engine
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

# DDL
Define relational schema with SQL DDL.

In [7]:
%%sql

-- First drop tables with foreign keys referencing other tables
DROP TABLE IF EXISTS dbo.AppointmentLog;
DROP TABLE IF EXISTS dbo.Appointment;
DROP TABLE IF EXISTS dbo.ReviewLog;
DROP TABLE IF EXISTS dbo.Chat;
DROP TABLE IF EXISTS dbo.ViewingHistory;
DROP TABLE IF EXISTS dbo.Engagement;
DROP TABLE IF EXISTS dbo.LongTermRental;
DROP TABLE IF EXISTS dbo.ShortTermRental;
DROP TABLE IF EXISTS dbo.Rental;
DROP TABLE IF EXISTS dbo.SaleMain;
DROP TABLE IF EXISTS dbo.Sale2;
DROP TABLE IF EXISTS dbo.PropertyMain;
DROP TABLE IF EXISTS dbo.Property2;
DROP TABLE IF EXISTS dbo.Customer;
DROP TABLE IF EXISTS dbo.PropertyOwner;
DROP TABLE IF EXISTS dbo.TotalViews;
DROP TABLE IF EXISTS dbo.Listing;
DROP TABLE IF EXISTS dbo.Agent;
DROP TABLE IF EXISTS dbo.Agency;
DROP TABLE IF EXISTS dbo.[User];


-- User table
CREATE TABLE [User] (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) NOT NULL,
    [Password] VARCHAR(255) NOT NULL,
    Email VARCHAR(100) UNIQUE NOT NULL
);

-- Customer table
CREATE TABLE Customer (
    Nric VARCHAR(9) PRIMARY KEY,
    Intention VARCHAR(100),
    FOREIGN KEY (Nric) REFERENCES [User] (Nric)
);

-- Agency table
CREATE TABLE Agency (
    [Name] VARCHAR(100) PRIMARY KEY,
    EstablishedYear INT NOT NULL
);

CREATE TABLE Agent (
    Nric VARCHAR(9) PRIMARY KEY,
    LicenseNum VARCHAR(50) UNIQUE NOT NULL,
    LicenseExpiry DATE NOT NULL,
    AgencyName VARCHAR(100),
    FOREIGN KEY (Nric) REFERENCES [User] (Nric),
    FOREIGN KEY (AgencyName) REFERENCES Agency([Name])
);

-- PropertyOwner table
CREATE TABLE PropertyOwner (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) UNIQUE NOT NULL,
    Gender CHAR(1) CHECK (Gender IN ('M', 'F')),
    Age INT CHECK (Age > 0)
);

-- Listing table
CREATE TABLE Listing (
    Id INT PRIMARY KEY NOT NULL,
    UnitNum VARCHAR(50) NOT NULL,
    CreatedOn DATE NOT NULL,
    AgentNric VARCHAR(9) FOREIGN KEY REFERENCES Agent (Nric)
);

-- Property tables
CREATE TABLE PropertyMain (
    UnitNum VARCHAR(50) PRIMARY KEY,
    PropertyOwnerId INT NOT NULL,
    [Type] VARCHAR(50) NOT NULL, -- noqa: RF06
    Postcode VARCHAR(10) NOT NULL,
    Size INT,
    Furnishing VARCHAR(50)
);

CREATE TABLE Property2 (
    Postcode VARCHAR(10) PRIMARY KEY,
    Street VARCHAR(100) NOT NULL
);

ALTER TABLE PropertyMain
ADD CONSTRAINT FK_Postcode
FOREIGN KEY (Postcode) REFERENCES Property2 (Postcode);

-- Sale tables
CREATE TABLE SaleMain (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    Price DECIMAL(10, 2) NOT NULL,
    BuildYear INT NOT NULL
);

CREATE TABLE Sale2 (
    BuildYear INT PRIMARY KEY,
    Tenure INT NOT NULL
);

ALTER TABLE SaleMain
ADD CONSTRAINT FK_BuildYear
FOREIGN KEY (BuildYear) REFERENCES Sale2 (BuildYear);

-- Rental table
CREATE TABLE Rental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    HasUtilities BIT NOT NULL,
    HasAircon BIT NOT NULL
);

-- ShortTermRental
CREATE TABLE ShortTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DailyRental FLOAT NOT NULL
);

-- LongTermRental
CREATE TABLE LongTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    MonthlyRental FLOAT NOT NULL,
    MinStay INT NOT NULL,
    AllowVisitors BIT NOT NULL
);

-- Engagement table
CREATE TABLE Engagement (
    CustomerId VARCHAR(9),
    ListingId INT,
    PRIMARY KEY (CustomerId, ListingId),
    FOREIGN KEY (CustomerId) REFERENCES Customer (Nric),
    FOREIGN KEY (ListingId) REFERENCES Listing (Id)
);

-- ViewingHistory
CREATE TABLE ViewingHistory (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DateTime TIME NOT NULL,
    Status VARCHAR(64) NOT NULL
);

-- Chat table
CREATE TABLE Chat (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    [Timestamp] TIME NOT NULL,
    Content VARCHAR(512)
);

-- ReviewLog table
CREATE TABLE ReviewLog (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    UserNric VARCHAR(9) FOREIGN KEY REFERENCES [User] (Nric),
    DateTime TIME NOT NULL,
    Comment VARCHAR(512) NOT NULL,
    Rating INT NOT NULL
);

-- Appointment table
CREATE TABLE Appointment (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    AppointmentTime TIME,
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate),
    FOREIGN KEY (CustomerId, ListingId) REFERENCES Engagement (
        CustomerId, ListingId
    )
);

-- AppointmentLog table
CREATE TABLE AppointmentLog (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    [Time] DATETIME, -- noqa: RF06
    Status VARCHAR(50),
    ActionBy VARCHAR(9),
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate, Time),
    FOREIGN KEY (
        CustomerId, ListingId, AppointmentDate
    ) REFERENCES Appointment (
        CustomerId, ListingId, AppointmentDate
    ),
    FOREIGN KEY (ActionBy) REFERENCES [User] (Nric)
);

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

In [8]:
%%sql
SELECT table_name FROM INFORMATION_SCHEMA.TABLES
WHERE table_name NOT LIKE 'spt_%'
  AND table_name <> 'MSreplication_options'

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-----------------+
|    table_name   |
+-----------------+
|       User      |
|     Customer    |
|      Agency     |
|      Agent      |
|  PropertyOwner  |
|     Listing     |
|   PropertyMain  |
|    Property2    |
|     SaleMain    |
|      Sale2      |
|      Rental     |
| ShortTermRental |
|  LongTermRental |
|    Engagement   |
|  ViewingHistory |
|       Chat      |
|    ReviewLog    |
|   Appointment   |
|  AppointmentLog |
+-----------------+

`sqt_*` tables are system Tables and should be ignored.

# Data
Insert data into Relational Schema for later queries:

In [9]:
%%sql

-- Insert data into User table
INSERT INTO [User] (Nric, Name, ContactNum, Password, Email) VALUES
('S1234567A', 'John Doe', '+6598765432', 'password123', 'john.doe@example.com'),
(
    'S2345678B',
    'Jane Smith',
    '+6598765433',
    'password456',
    'jane.smith@example.com'
),
('S3456789C', 'Bob Tan', '+6598765434', 'password789', 'bob.tan@example.com'),
(
    'S4567890D',
    'Alice Lee',
    '+6598765435',
    'password321',
    'alice.lee@example.com'
),
(
    'S5678901E',
    'Charlie Lim',
    '+6598765436',
    'password654',
    'charlie.lim@example.com'
),
(
    'S6789012F',
    'Desmond Ang',
    '+6581235394',
    'password376',
    'desmond.ang@example.com'
),
(
    'S7890123G',
    'Elise Chong',
    '+6592750725',
    'password563',
    'elise.chong@example.com'
),
('S8901234H', 'Frank Ow', '+6590278150', 'password062', 'frank.ow@example.com'),
(
    'S8901234J',
    'Gerry Tan',
    '+6581630472',
    'password592',
    'gerry.tan@example.com'
),
(
    'S9012345K',
    'Harold Poon',
    '+658224710',
    'password284',
    'harold.poon@example.com'
),
('S9123456L', 'Isaac Wong', '+6581354673', 'password197', 'isaac.wong@example.com'),
('S9234567M', 'Julia Teo', '+6582345612', 'password298', 'julia.teo@example.com'),
('S9345678N', 'Kenneth Koh', '+6598457623', 'password712', 'kenneth.koh@example.com'),
('S9456789P', 'Lydia Ng', '+6597456123', 'password916', 'lydia.ng@example.com'),
('S9567890Q', 'Marcus Lee', '+6583452716', 'password333', 'marcus.lee@example.com');

-- Insert data into Customer table
INSERT INTO Customer (Nric, Intention) VALUES
('S1234567A', 'Looking for new home'),
('S2345678B', 'Selling existing property'),
('S3456789C', 'Investment opportunities'),
('S4567890D', 'Renting options'),
('S5678901E', 'Exploring market trends');

-- Insert data into Agency table
INSERT INTO Agency (Name, EstablishedYear) VALUES
('PropNex Realty Pte Ltd', '1999'),
('ERA Realty Network Pte Ltd', '1982'),
('Huttons Asia Pte Ltd', '2002'),
('OrangeTee & Tie Pte Ltd', '2000'),
('SRI Pte Ltd', '2016');

-- Insert data into Agent table
INSERT INTO Agent (Nric, LicenseNum, LicenseExpiry, AgencyName) VALUES
('S9123456L', 'LIC12345', '2025-12-31', 'PropNex Realty Pte Ltd'),
('S9234567M', 'LIC23456', '2024-11-30', 'ERA Realty Network Pte Ltd'),
('S9345678N', 'LIC34567', '2026-10-15', 'Huttons Asia Pte Ltd'),
('S9456789P', 'LIC45678', '2023-09-20', 'OrangeTee & Tie Pte Ltd'),
('S9567890Q', 'LIC56789', '2025-08-25', 'SRI Pte Ltd')

-- Insert data into PropertyOwner table
INSERT INTO PropertyOwner (Nric, Name, ContactNum, Gender, Age) VALUES
('S6789012F', 'Desmond Ang', '+6581235394', 'M', '50'),
('S7890123G', 'Elise Chong', '+6592750725', 'F', '26'),
('S8901234H', 'Frank Ow', '+6590278150', 'M', '44'),
('S8901234J', 'Gerry Tan', '+6581630472', 'F', '63'),
('S9012345K', 'Harold Poon', '+658224710', 'M', '38');

-- Insert data into Listing table
INSERT INTO Listing (Id, CreatedOn, UnitNum, AgentNric) VALUES
(1, '2023-03-15', '13-05', 'S9123456L'),
(2, '2021-07-22', '01-018', 'S9234567M'),
(3, '2022-11-05', '17-364', 'S9345678N'),
(4, '2024-01-09', '09-02', 'S9345678N'),
(5, '2020-05-30', '15-127', 'S9456789P');

-- Insert into Property2 before inserting into PropertyMain
INSERT INTO Property2 (Postcode, Street) VALUES
('123456', 'Orchard Road'),
('123467', 'Ang Mo Kio Road'),
('123478', 'Bukit Timah Road'),
('123489', 'Ang Mo Kio Avenue'),
('123490', 'Yishun Ring Road');

-- Insert data into PropertyMain table
INSERT INTO PropertyMain (
    UnitNum, PropertyOwnerId, Type, Postcode, Size, Furnishing
) VALUES
('13-05', 1, 'Condo', '123456', 1000, 'Furnished'),
('01-018', 2, 'Apartment', '123467', 850, 'Unfurnished'),
('17-364', 3, 'HDB', '123478', 900, 'Partially Furnished'),
('09-02', 4, 'Bungalow', '123489', 2000, 'Furnished'),
('15-127', 5, 'Terrace', '123490', 1200, 'Unfurnished');

-- Insert into Sale_2 before inserting into Sale_Main
INSERT INTO Sale2 (BuildYear, Tenure) VALUES
(1930, 99),
(2012, 999),
(1935, 99),
(2018, 999),
(2020, 99);

-- Insert data into Sale_Main table
INSERT INTO SaleMain (ListingId, Price, BuildYear) VALUES
(1, 850000, 2012),
(2, 650000, 1930),
(3, 750000, 2018),
(4, 920000, 1935),
(5, 670000, 2020);

-- Insert data into Rental table
INSERT INTO Rental (ListingId, HasUtilities, HasAirCon) VALUES
(1, 'TRUE', 'TRUE'),
(2, 'FALSE', 'TRUE'),
(3, 'TRUE', 'FALSE'),
(4, 'TRUE', 'TRUE'),
(5, 'FALSE', 'FALSE');

-- Insert data into ShortTermRental table
INSERT INTO ShortTermRental (ListingId, DailyRental) VALUES
(1, 20.20),
(2, 30.30),
(3, 25.20),
(4, 20.30),
(5, 24.20);

-- Insert data into LongTermRental table
INSERT INTO LongTermRental (
    ListingId, MonthlyRental, MinStay, AllowVisitors
) VALUES
(1, 345.50, 21, 'FALSE'),
(2, 332.50, 22, 'TRUE'),
(3, 300.40, 20, 'TRUE'),
(4, 355.50, 25, 'FALSE'),
(5, 322.50, 24, 'TRUE');

-- Insert data into Engagement table
INSERT INTO Engagement (CustomerId, ListingId) VALUES
('S1234567A', 1),
('S1234567A', 2),
('S1234567A', 3),
('S1234567A', 4),
('S1234567A', 5),
('S2345678B', 1),
('S2345678B', 2),
('S2345678B', 3),
('S2345678B', 4),
('S2345678B', 5),
('S3456789C', 1),
('S3456789C', 2),
('S3456789C', 3),
('S3456789C', 4),
('S4567890D', 4),
('S5678901E', 5),
('S4567890D', 2),
('S5678901E', 3),
('S4567890D', 5),
('S5678901E', 4);

-- Insert data into Appointment table
INSERT INTO Appointment (CustomerId, ListingId, AppointmentDate, AppointmentTime) VALUES
-- 2020 appointments
('S1234567A', 1, '2020-03-15', '14:00'),
('S2345678B', 2, '2020-04-21', '10:30'),
('S3456789C', 3, '2020-05-22', '16:45'),
('S4567890D', 4, '2020-06-10', '11:00'),
('S5678901E', 5, '2020-07-15', '15:30'),
('S1234567A', 3, '2020-08-20', '09:00'),
('S2345678B', 4, '2020-09-25', '14:30'),
-- 2021 appointments
('S1234567A', 1, '2021-02-15', '14:00'),
('S2345678B', 2, '2021-03-21', '10:30'),
('S3456789C', 3, '2021-04-22', '16:45'),
('S4567890D', 4, '2021-05-10', '11:00'),
('S5678901E', 5, '2021-06-15', '15:30'),
('S1234567A', 2, '2021-07-20', '09:00'),
('S2345678B', 3, '2021-08-25', '14:30'),
('S3456789C', 4, '2021-09-30', '16:00'),
-- 2022 appointments
('S1234567A', 1, '2022-02-15', '14:00'),
('S2345678B', 2, '2022-03-21', '10:30'),
('S3456789C', 3, '2022-04-22', '16:45'),
('S4567890D', 4, '2022-05-10', '11:00'),
('S5678901E', 5, '2022-06-15', '15:30'),
('S1234567A', 4, '2022-07-20', '09:00'),
('S2345678B', 5, '2022-08-25', '14:30'),
('S3456789C', 1, '2022-09-30', '16:00'),
-- 2023 appointments
('S1234567A', 1, '2023-03-15', '14:00'),
('S2345678B', 2, '2023-04-21', '10:30'),
('S3456789C', 3, '2023-05-22', '16:45'),
('S4567890D', 4, '2023-06-10', '11:00'),
('S5678901E', 5, '2023-07-15', '15:30'),
('S1234567A', 5, '2023-08-20', '09:00'),
('S2345678B', 1, '2023-09-25', '14:30'),
('S3456789C', 2, '2023-10-30', '16:00'),
-- Extra 2020 appointments
('S1234567A', 2, '2020-10-15', '14:00'),
('S2345678B', 3, '2020-11-21', '10:30'),
('S3456789C', 1, '2020-12-22', '16:45'),
('S4567890D', 2, '2020-10-10', '11:00'),
('S5678901E', 3, '2020-11-15', '15:30'),
-- Extra 2021 appointments
('S1234567A', 3, '2021-10-20', '09:00'),
('S2345678B', 3, '2021-11-25', '14:30'),
('S3456789C', 3, '2021-12-30', '16:00'),
-- Extra 2022 appointments
('S1234567A', 4, '2022-10-15', '14:00'),
('S2345678B', 4, '2022-11-21', '10:30'),
('S3456789C', 4, '2022-12-22', '16:45'),
('S4567890D', 5, '2022-10-10', '11:00'),
('S5678901E', 5, '2022-11-15', '15:30'),
-- Extra 2023 appointments
('S1234567A', 1, '2023-11-20', '09:00'),
('S2345678B', 2, '2023-11-25', '14:30'),
('S3456789C', 3, '2023-11-30', '16:00');

-- Insert data into AppointmentLog table
INSERT INTO AppointmentLog (CustomerId, ListingId, AppointmentDate, Time, Status, ActionBy) VALUES
-- 2020 completed appointments (varying completion rates)
('S1234567A', 1, '2020-03-15', '2020-03-15 14:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2020-04-21', '2020-04-21 10:30', 'Completed', 'S9234567M'),
('S3456789C', 3, '2020-05-22', '2020-05-22 16:45', 'Cancelled', 'S9345678N'),
('S4567890D', 4, '2020-06-10', '2020-06-10 11:00', 'Completed', 'S9456789P'),
('S5678901E', 5, '2020-07-15', '2020-07-15 15:30', 'Completed', 'S9567890Q'),
('S1234567A', 3, '2020-08-20', '2020-08-20 09:00', 'Completed', 'S9345678N'),
('S2345678B', 4, '2020-09-25', '2020-09-25 14:30', 'Cancelled', 'S9456789P'),
-- 2021 completed appointments
('S1234567A', 1, '2021-02-15', '2021-02-15 14:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2021-03-21', '2021-03-21 10:30', 'Completed', 'S9234567M'),
('S3456789C', 3, '2021-04-22', '2021-04-22 16:45', 'Completed', 'S9345678N'),
('S4567890D', 4, '2021-05-10', '2021-05-10 11:00', 'Cancelled', 'S9456789P'),
('S5678901E', 5, '2021-06-15', '2021-06-15 15:30', 'Completed', 'S9567890Q'),
('S1234567A', 2, '2021-07-20', '2021-07-20 09:00', 'Completed', 'S9234567M'),
('S2345678B', 3, '2021-08-25', '2021-08-25 14:30', 'Completed', 'S9345678N'),
('S3456789C', 4, '2021-09-30', '2021-09-30 16:00', 'Cancelled', 'S9456789P'),
-- 2022 completed appointments
('S1234567A', 1, '2022-02-15', '2022-02-15 14:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2022-03-21', '2022-03-21 10:30', 'Completed', 'S9234567M'),
('S3456789C', 3, '2022-04-22', '2022-04-22 16:45', 'Completed', 'S9345678N'),
('S4567890D', 4, '2022-05-10', '2022-05-10 11:00', 'Completed', 'S9456789P'),
('S5678901E', 5, '2022-06-15', '2022-06-15 15:30', 'Cancelled', 'S9567890Q'),
('S1234567A', 4, '2022-07-20', '2022-07-20 09:00', 'Completed', 'S9456789P'),
('S2345678B', 5, '2022-08-25', '2022-08-25 14:30', 'Completed', 'S9567890Q'),
('S3456789C', 1, '2022-09-30', '2022-09-30 16:00', 'Completed', 'S9123456L'),
-- 2023 completed appointments
('S1234567A', 1, '2023-03-15', '2023-03-15 14:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2023-04-21', '2023-04-21 10:30', 'Completed', 'S9234567M'),
('S3456789C', 3, '2023-05-22', '2023-05-22 16:45', 'Completed', 'S9345678N'),
('S4567890D', 4, '2023-06-10', '2023-06-10 11:00', 'Cancelled', 'S9456789P'),
('S5678901E', 5, '2023-07-15', '2023-07-15 15:30', 'Completed', 'S9567890Q'),
('S1234567A', 5, '2023-08-20', '2023-08-20 09:00', 'Completed', 'S9567890Q'),
('S2345678B', 1, '2023-09-25', '2023-09-25 14:30', 'Completed', 'S9123456L'),
('S3456789C', 2, '2023-10-30', '2023-10-30 16:00', 'Completed', 'S9234567M'),
-- Extra 2020 completions for S9123456L and S9234567M
('S1234567A', 2, '2020-10-15', '2020-10-15 14:00', 'Completed', 'S9123456L'),
('S2345678B', 3, '2020-11-21', '2020-11-21 10:30', 'Completed', 'S9123456L'),
('S3456789C', 1, '2020-12-22', '2020-12-22 16:45', 'Completed', 'S9123456L'),
('S4567890D', 2, '2020-10-10', '2020-10-10 11:00', 'Completed', 'S9234567M'),
('S5678901E', 3, '2020-11-15', '2020-11-15 15:30', 'Completed', 'S9234567M'),
-- Extra 2021 completions for S9345678N
('S1234567A', 3, '2021-10-20', '2021-10-20 09:00', 'Completed', 'S9345678N'),
('S2345678B', 3, '2021-11-25', '2021-11-25 14:30', 'Completed', 'S9345678N'),
('S3456789C', 3, '2021-12-30', '2021-12-30 16:00', 'Completed', 'S9345678N'),
-- Extra 2022 completions for S9456789P and S9567890Q
('S1234567A', 4, '2022-10-15', '2022-10-15 14:00', 'Completed', 'S9456789P'),
('S2345678B', 4, '2022-11-21', '2022-11-21 10:30', 'Completed', 'S9456789P'),
('S3456789C', 4, '2022-12-22', '2022-12-22 16:45', 'Completed', 'S9456789P'),
('S4567890D', 5, '2022-10-10', '2022-10-10 11:00', 'Completed', 'S9567890Q'),
('S5678901E', 5, '2022-11-15', '2022-11-15 15:30', 'Completed', 'S9567890Q'),
-- Extra 2023 completions spread across agents
('S1234567A', 1, '2023-11-20', '2023-11-20 09:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2023-11-25', '2023-11-25 14:30', 'Completed', 'S9234567M'),
('S3456789C', 3, '2023-11-30', '2023-11-30 16:00', 'Completed', 'S9345678N');

-- Insert data into ViewingHistory table
INSERT INTO ViewingHistory (CustomerId, ListingId, DateTime, Status) VALUES
-- 2020 viewings (aligned with 2020-03-15 completion for S1234567A, 1)
('S1234567A', 1, '2020-02-15', 'New'),
('S1234567A', 1, '2020-02-25', 'Viewed 1 time'),
('S1234567A', 1, '2020-03-05', 'Viewed 2 times'),
('S1234567A', 1, '2020-03-10', 'In Discussion'),
('S1234567A', 1, '2020-03-15', 'Completed'),
-- 2020 viewings (aligned with 2020-04-21 completion for S2345678B, 2)
('S2345678B', 2, '2020-03-21', 'New'),
('S2345678B', 2, '2020-03-30', 'Viewed 1 time'),
('S2345678B', 2, '2020-04-10', 'Viewed 2 times'),
('S2345678B', 2, '2020-04-15', 'In Discussion'),
('S2345678B', 2, '2020-04-21', 'Completed'),
-- 2020 viewings (for completed appointment on 2020-05-22 for S3456789C, 3)
('S3456789C', 3, '2020-04-22', 'New'),
('S3456789C', 3, '2020-05-01', 'Viewed 1 time'),
('S3456789C', 3, '2020-05-10', 'Viewed 2 times'),
('S3456789C', 3, '2020-05-15', 'In Discussion'),
('S3456789C', 3, '2020-05-22', 'Completed'),
-- 2021 viewings (aligned with 2021-07-15 completion for S1234567A, 1)
('S1234567A', 1, '2021-06-15', 'New'),
('S1234567A', 1, '2021-06-25', 'Viewed 1 time'),
('S1234567A', 1, '2021-07-05', 'Viewed 2 times'),
('S1234567A', 1, '2021-07-10', 'In Discussion'),
('S1234567A', 1, '2021-07-15', 'Completed'),
-- 2021 viewings (aligned with 2021-08-21 completion for S2345678B, 2)
('S2345678B', 2, '2021-07-21', 'New'),
('S2345678B', 2, '2021-07-30', 'Viewed 1 time'),
('S2345678B', 2, '2021-08-10', 'Viewed 2 times'),
('S2345678B', 2, '2021-08-15', 'In Discussion'),
('S2345678B', 2, '2021-08-21', 'Completed'),
-- 2022 viewings (aligned with 2022-02-15 completion for S1234567A, 1)
('S1234567A', 1, '2022-01-15', 'New'),
('S1234567A', 1, '2022-01-25', 'Viewed 1 time'),
('S1234567A', 1, '2022-02-05', 'Viewed 2 times'),
('S1234567A', 1, '2022-02-10', 'In Discussion'),
('S1234567A', 1, '2022-02-15', 'Completed'),
-- 2022 viewings (aligned with 2022-03-21 completion for S2345678B, 2)
('S2345678B', 2, '2022-02-21', 'New'),
('S2345678B', 2, '2022-02-28', 'Viewed 1 time'),
('S2345678B', 2, '2022-03-10', 'Viewed 2 times'),
('S2345678B', 2, '2022-03-15', 'In Discussion'),
('S2345678B', 2, '2022-03-21', 'Completed'),
-- 2023 viewings (aligned with 2023-03-15 completion for S1234567A, 1)
('S1234567A', 1, '2023-02-15', 'New'),
('S1234567A', 1, '2023-02-25', 'Viewed 1 time'),
('S1234567A', 1, '2023-03-05', 'Viewed 2 times'),
('S1234567A', 1, '2023-03-10', 'In Discussion'),
('S1234567A', 1, '2023-03-15', 'Completed'),
-- 2023 viewings (aligned with 2023-04-21 completion for S2345678B, 2)
('S2345678B', 2, '2023-03-21', 'New'),
('S2345678B', 2, '2023-03-30', 'Viewed 1 time'),
('S2345678B', 2, '2023-04-10', 'Viewed 2 times'),
('S2345678B', 2, '2023-04-15', 'In Discussion'),
('S2345678B', 2, '2023-04-21', 'Completed'),
-- 2023 viewings (aligned with 2023-05-22 completion for S3456789C, 3)
('S3456789C', 3, '2023-04-22', 'New'),
('S3456789C', 3, '2023-05-01', 'Viewed 1 time'),
('S3456789C', 3, '2023-05-10', 'Viewed 2 times'),
('S3456789C', 3, '2023-05-15', 'In Discussion'),
('S3456789C', 3, '2023-05-22', 'Completed'),
-- Additional viewings for listings still in progress
('S4567890D', 4, '2023-09-01', 'New'),
('S4567890D', 4, '2023-09-10', 'Viewed 1 time'),
('S4567890D', 4, '2023-09-20', 'Viewed 2 times'),
('S4567890D', 4, '2023-09-30', 'In Discussion'),
('S5678901E', 5, '2023-10-01', 'New'),
('S5678901E', 5, '2023-10-10', 'Viewed 1 time'),
('S5678901E', 5, '2023-10-20', 'Viewed 2 times'),
-- 2020 extra viewings for S9123456L's appointments
('S1234567A', 2, '2020-09-15', 'New'),
('S1234567A', 2, '2020-09-25', 'Viewed 1 time'),
('S1234567A', 2, '2020-10-05', 'Viewed 2 times'),
('S1234567A', 2, '2020-10-10', 'In Discussion'),
('S1234567A', 2, '2020-10-15', 'Completed'),

('S2345678B', 3, '2020-10-21', 'New'),
('S2345678B', 3, '2020-10-30', 'Viewed 1 time'),
('S2345678B', 3, '2020-11-10', 'Viewed 2 times'),
('S2345678B', 3, '2020-11-15', 'In Discussion'),
('S2345678B', 3, '2020-11-21', 'Completed'),

('S3456789C', 1, '2020-11-22', 'New'),
('S3456789C', 1, '2020-11-30', 'Viewed 1 time'),
('S3456789C', 1, '2020-12-10', 'Viewed 2 times'),
('S3456789C', 1, '2020-12-15', 'In Discussion'),
('S3456789C', 1, '2020-12-22', 'Completed'),

-- 2020 extra viewings for S9234567M's appointments
('S4567890D', 2, '2020-09-10', 'New'),
('S4567890D', 2, '2020-09-20', 'Viewed 1 time'),
('S4567890D', 2, '2020-09-30', 'Viewed 2 times'),
('S4567890D', 2, '2020-10-05', 'In Discussion'),
('S4567890D', 2, '2020-10-10', 'Completed'),

('S5678901E', 3, '2020-10-15', 'New'),
('S5678901E', 3, '2020-10-25', 'Viewed 1 time'),
('S5678901E', 3, '2020-11-05', 'Viewed 2 times'),
('S5678901E', 3, '2020-11-10', 'In Discussion'),
('S5678901E', 3, '2020-11-15', 'Completed'),

-- 2021 extra viewings for S9345678N's appointments
('S1234567A', 3, '2021-09-20', 'New'),
('S1234567A', 3, '2021-09-30', 'Viewed 1 time'),
('S1234567A', 3, '2021-10-10', 'Viewed 2 times'),
('S1234567A', 3, '2021-10-15', 'In Discussion'),
('S1234567A', 3, '2021-10-20', 'Completed'),

('S2345678B', 3, '2021-10-25', 'New'),
('S2345678B', 3, '2021-11-05', 'Viewed 1 time'),
('S2345678B', 3, '2021-11-15', 'Viewed 2 times'),
('S2345678B', 3, '2021-11-20', 'In Discussion'),
('S2345678B', 3, '2021-11-25', 'Completed'),

('S3456789C', 3, '2021-12-01', 'New'),
('S3456789C', 3, '2021-12-10', 'Viewed 1 time'),
('S3456789C', 3, '2021-12-20', 'Viewed 2 times'),
('S3456789C', 3, '2021-12-25', 'In Discussion'),
('S3456789C', 3, '2021-12-30', 'Completed'),

-- 2022 extra viewings for S9456789P's appointments
('S1234567A', 4, '2022-09-15', 'New'),
('S1234567A', 4, '2022-09-25', 'Viewed 1 time'),
('S1234567A', 4, '2022-10-05', 'Viewed 2 times'),
('S1234567A', 4, '2022-10-10', 'In Discussion'),
('S1234567A', 4, '2022-10-15', 'Completed'),

('S2345678B', 4, '2022-10-21', 'New'),
('S2345678B', 4, '2022-10-30', 'Viewed 1 time'),
('S2345678B', 4, '2022-11-10', 'Viewed 2 times'),
('S2345678B', 4, '2022-11-15', 'In Discussion'),
('S2345678B', 4, '2022-11-21', 'Completed'),

('S3456789C', 4, '2022-11-22', 'New'),
('S3456789C', 4, '2022-11-30', 'Viewed 1 time'),
('S3456789C', 4, '2022-12-10', 'Viewed 2 times'),
('S3456789C', 4, '2022-12-15', 'In Discussion'),
('S3456789C', 4, '2022-12-22', 'Completed'),

-- 2022 extra viewings for S9567890Q's appointments
('S4567890D', 5, '2022-09-10', 'New'),
('S4567890D', 5, '2022-09-20', 'Viewed 1 time'),
('S4567890D', 5, '2022-09-30', 'Viewed 2 times'),
('S4567890D', 5, '2022-10-05', 'In Discussion'),
('S4567890D', 5, '2022-10-10', 'Completed'),

('S5678901E', 5, '2022-10-15', 'New'),
('S5678901E', 5, '2022-10-25', 'Viewed 1 time'),
('S5678901E', 5, '2022-11-05', 'Viewed 2 times'),
('S5678901E', 5, '2022-11-10', 'In Discussion'),
('S5678901E', 5, '2022-11-15', 'Completed'),

-- 2023 extra viewings for final completions
('S1234567A', 1, '2023-10-20', 'New'),
('S1234567A', 1, '2023-10-30', 'Viewed 1 time'),
('S1234567A', 1, '2023-11-10', 'Viewed 2 times'),
('S1234567A', 1, '2023-11-15', 'In Discussion'),
('S1234567A', 1, '2023-11-20', 'Completed'),

('S2345678B', 2, '2023-10-25', 'New'),
('S2345678B', 2, '2023-11-05', 'Viewed 1 time'),
('S2345678B', 2, '2023-11-15', 'Viewed 2 times'),
('S2345678B', 2, '2023-11-20', 'In Discussion'),
('S2345678B', 2, '2023-11-25', 'Completed'),

('S3456789C', 3, '2023-11-01', 'New'),
('S3456789C', 3, '2023-11-10', 'Viewed 1 time'),
('S3456789C', 3, '2023-11-20', 'Viewed 2 times'),
('S3456789C', 3, '2023-11-25', 'In Discussion'),
('S3456789C', 3, '2023-11-30', 'Completed');

-- Insert varying numbers of chat messages (0-10) for different appointments
INSERT INTO Chat (CustomerId, ListingId, TimeStamp, Content) VALUES
-- Appointment with no chats: 2020-05-22 appointment has 0 chats
-- Appointment with 2 chats
('S1234567A', 1, '13:45', 'Hi, interested in the property'),
('S1234567A', 1, '14:15', 'Thanks for showing me around'),
-- Appointment with 5 chats
('S2345678B', 2, '10:00', 'Good morning, here for the viewing'),
('S2345678B', 2, '10:15', 'The living room is quite spacious'),
('S2345678B', 2, '10:30', 'What are the nearby amenities?'),
('S2345678B', 2, '10:45', 'The kitchen needs some renovation'),
('S2345678B', 2, '11:00', 'Thank you for your time'),
-- Appointment with 8 chats
('S4567890D', 4, '10:30', 'On my way to the viewing'),
('S4567890D', 4, '10:45', 'Parking available?'),
('S4567890D', 4, '11:00', 'The master bedroom is perfect'),
('S4567890D', 4, '11:15', 'How old is the air conditioning?'),
('S4567890D', 4, '11:30', 'What about the water heater?'),
('S4567890D', 4, '11:45', 'The view is amazing'),
('S4567890D', 4, '12:00', 'Monthly maintenance fees?'),
('S4567890D', 4, '12:15', 'Very interested, will discuss with family'),
-- Appointment with 10 chats
('S5678901E', 5, '15:00', 'Almost there'),
('S5678901E', 5, '15:15', 'The location is convenient'),
('S5678901E', 5, '15:30', 'Love the floor plan'),
('S5678901E', 5, '15:45', 'Are pets allowed?'),
('S5678901E', 5, '16:00', 'The balcony is spacious'),
('S5678901E', 5, '16:15', 'When was it last renovated?'),
('S5678901E', 5, '16:30', 'Any issues with neighbors?'),
('S5678901E', 5, '16:45', 'The ceiling height is good'),
('S5678901E', 5, '17:00', 'What are the terms of payment?'),
('S5678901E', 5, '17:15', 'Will get back to you tomorrow'),
-- Appointment with 3 chats
('S1234567A', 3, '09:00', 'Here for viewing'),
('S1234567A', 3, '09:30', 'The rooms are well-lit'),
('S1234567A', 3, '10:00', 'Thanks for the tour'),
-- Appointment with 4 chats
('S2345678B', 4, '14:15', 'Running 5 minutes late'),
('S2345678B', 4, '14:30', 'The layout is interesting'),
('S2345678B', 4, '14:45', 'Need to check the electrical points'),
('S2345678B', 4, '15:00', 'Will consider this unit'),
-- Chats for 2020 extra appointments
('S1234567A', 2, '2020-10-15 13:45', 'Interested in viewing'),
('S1234567A', 2, '2020-10-15 14:30', 'Thanks for the tour'),
('S2345678B', 3, '2020-11-21 10:15', 'On my way'),
('S2345678B', 3, '2020-11-21 11:00', 'Great property'),
('S3456789C', 1, '2020-12-22 16:30', 'Is parking available?'),
('S3456789C', 1, '2020-12-22 17:00', 'Perfect, thank you'),
-- Chats for 2021 extra appointments
('S1234567A', 3, '2021-10-20 08:45', 'Coming for viewing'),
('S1234567A', 3, '2021-10-20 09:30', 'Love the layout'),
('S2345678B', 3, '2021-11-25 14:15', 'Will be there soon'),
('S2345678B', 3, '2021-11-25 15:00', 'Good amenities'),
('S3456789C', 3, '2021-12-30 15:45', 'Any renovation needed?'),
('S3456789C', 3, '2021-12-30 16:30', 'Thanks for showing'),
-- Chats for 2022 extra appointments
('S1234567A', 4, '2022-10-15 13:45', 'Arriving shortly'),
('S1234567A', 4, '2022-10-15 14:30', 'Nice view'),
('S2345678B', 4, '2022-11-21 10:15', 'Here for viewing'),
('S2345678B', 4, '2022-11-21 11:00', 'Good location'),
('S3456789C', 4, '2022-12-22 16:30', 'Questions about facilities'),
('S3456789C', 4, '2022-12-22 17:00', 'Very promising'),
-- Chats for 2023 extra appointments
('S1234567A', 1, '2023-11-20 08:45', 'Ready for viewing'),
('S1234567A', 1, '2023-11-20 09:30', 'Excellent condition'),
('S2345678B', 2, '2023-11-25 14:15', 'At the lobby'),
('S2345678B', 2, '2023-11-25 15:00', 'Worth considering'),
('S3456789C', 3, '2023-11-30 15:45', 'Any recent upgrades?'),
('S3456789C', 3, '2023-11-30 16:30', 'Will think about it');

-- Insert data into ReviewLog table
INSERT INTO ReviewLog (ListingId, UserNric, DateTime, Comment, Rating) VALUES
(
    1,
    'S1234567A',
    '2024-10-26 14:00',
    '> I regret spending time with this agent',
    1
),
(
    2,
    'S2345678B',
    '2024-10-27 11:00',
    '> Agent is supportive! Love the attitude',
    5
),
(3, 'S3456789C', '2024-10-28 19:17', '> Nice house, I bought it', 3),
(4, 'S4567890D', '2024-10-29 14:25', '> What a haunted house', 2),
(5, 'S5678901E', '2024-10-30 13:01', '> The agent is terrible', 1);

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

15 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

20 rows affected.

47 rows affected.

47 rows affected.

137 rows affected.

56 rows affected.

5 rows affected.

++
||
++
++

# Queries
1. List the properties for sale in Ang Mo Kio that have 20 years or less remaining on their tenure.

In [10]:
%%sql
SELECT
    pm.UnitNum,
    pm.PropertyOwnerId,
    pm.[Type],
    pm.Postcode,
    pm.Size,
    pm.Furnishing,
    sm.ListingId,
    sm.Price,
    sm.BuildYear,
    s2.Tenure
FROM
    PropertyMain pm
JOIN
    Property2 p2 ON pm.Postcode = p2.Postcode
JOIN
    Listing l ON pm.UnitNum = l.UnitNum
JOIN
    SaleMain sm ON sm.ListingId = l.Id
JOIN
    Sale2 s2 ON sm.BuildYear = s2.BuildYear
WHERE
    p2.Street LIKE '%Ang Mo Kio%'
    AND (s2.BuildYear + s2.Tenure) >= YEAR(GETDATE())
    AND (s2.BuildYear + s2.Tenure) - YEAR(GETDATE()) <= 20;

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |  Furnishing | ListingId |   Price   | BuildYear | Tenure |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
|  01-018 |        2        | Apartment |  123467  | 850  | Unfurnished |     2     | 650000.00 |    1930   |   99   |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |  Furnished  |     4     | 920000.00 |    1935   |   99   |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+

#### Explanation
1. We join PropertyMain, Property2, Listing, SaleMain and Sale2 based on common keys to obtain a relational schema with the attributes of each property, its sale details and its tenure.
2. Filter rows:
    - Obtain rows with 'Ang Mo Kio' in Street attribute by filtering using WHERE p2.Street LIKE '%Ang Mo Kio%'.
    - Obtain rows which contain properties that still have not reached the end of their tenure using WHERE (s2.BuildYear + s2.Tenure) >= YEAR(GETDATE())
    - Obtain rows which contain properties that have less than or equal to 20 years remaining on their tenure using WHERE (s2.BuildYear + s2.Tenure) - YEAR(GETDATE()) <= 20
4. Select relevant columns for the property.
    - Select attributes of the property
    - Select ListingId, Price which are relevant since the selected property should be on sale and the details of the sale should be shown in the table
    - Select BuildYear and Tenure which are relevant since the buyer should be able to see the number of years left on tenure

2. Generate a statistic showing number of listings categorized by property type and furnished status between year 1 Jan 2022 to 31 Dec 2023.

In [ ]:
# TODO

TODO: EXPLAIN

3. Show the agency’s name, manager’s name, year, and the total sales amount for each agency by year. The total sales amount should reflect the cumulative property sales prices completed by respective agents. Arrange the list chronologically from the earliest year to the most recent and sort by sales amount in descending order within each year.

In [17]:
%%sql

SELECT
    AG.AgencyName,
    U.Name AS ManagerName,
    SM.BuildYear AS Year,
    SUM(SM.Price) AS TotalSalesAmount
FROM Agent AG
JOIN [User] U ON AG.Nric = U.Nric
JOIN Listing L ON AG.Nric = L.AgentNric
JOIN SaleMain SM ON L.Id = SM.ListingId
GROUP BY AG.AgencyName, U.Name, SM.BuildYear
ORDER BY SM.BuildYear, TotalSalesAmount DESC;

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+----------------------------+-------------+------+------------------+
|         AgencyName         | ManagerName | Year | TotalSalesAmount |
+----------------------------+-------------+------+------------------+
| ERA Realty Network Pte Ltd |  Julia Teo  | 1930 |    650000.00     |
|    Huttons Asia Pte Ltd    | Kenneth Koh | 1935 |    920000.00     |
|   PropNex Realty Pte Ltd   |  Isaac Wong | 2012 |    850000.00     |
|    Huttons Asia Pte Ltd    | Kenneth Koh | 2018 |    750000.00     |
|  OrangeTee & Tie Pte Ltd   |   Lydia Ng  | 2020 |    670000.00     |
+----------------------------+-------------+------+------------------+

**Explanation**

1. SELECT -
* Fetches the agency name
* Fetches the agent/manager's name from the User table
* Fetches the year of property sales from SaleMain table
* Calculates the total property sales amount for each agency and year.
2. FROM - Starts from the Agent table as the base
3. JOIN -
*   Joins the User table to get agent/manager information
*   Joins the Listing table to connect agents with their listings,
*   Connects sales data from the SaleMain table to listings.
4. GROUP BY - The results are grouped by agency name, manager name, and build year to ensure total sales amount are calculated per agency per year.
5. ORDER BY - Ordered chronologically by year, with total sales amounts sorted in descending order within each year.

4. List all customer’s name, email and their engagement information where they have initiated a chat with an agent, completed appointment, but have not completed the deal for rental listing. We would like to send them a followup message.

In [18]:
%%sql
SELECT u.Name, u.Email, e.*
FROM [User] AS u
    -- select only customers with engagements
    INNER JOIN Engagement AS e ON e.CustomerId = u.Nric
    -- select only customers that has initiated chats
    INNER JOIN Chat AS c ON
        c.CustomerID = u.Nric AND c.ListingId = e.ListingId
    -- select only customers that have completed appointments
    INNER JOIN AppointmentLog AS a ON
        a.CustomerID = u.Nric AND a.ListingId = e.ListingID AND a.Status = 'Completed'
-- exclude customers that have completed the deal
WHERE NOT EXISTS (
    SELECT 1
    FROM ViewingHistory AS v
    WHERE v.CustomerId = u.Nric AND e.ListingId = v.ListingId AND v.Status = 'Completed'
)

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-----------+-----------------------+------------+-----------+
|    Name   |         Email         | CustomerId | ListingId |
+-----------+-----------------------+------------+-----------+
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
+-----------+-----------------------+------------+-----------+

**Explanation**

This SQL query retrieves information about users and their engagements that:

1. It selects the user's Name, Email, and all columns from the Engagement table.

2. It joins four tables: User, Engagement, Chat, and AppointmentLog.

3. The joins ensure that:
   - The user has engagements
   - The user has initiated chats for those engagements
   - The user has completed appointments for those engagements

4. The WHERE clause excludes users who have completed deals, by checking if there's no entry in the ViewingHistory table with a 'Completed' status for the same customer and listing.

5. Identify the top three most engaging agents with a valid license for each year from 2020 to 2023.
An engaging agent is defined as one who has completed the highest number of appointments, with each appointment having at least two chat messages. Completed appointments without chat messages should not be counted. For each agent, display their name, license validity, and affiliation.

In [12]:
%%sql

-- Count appointment chats, must have at least 2 chat messages
WITH AppointmentChats AS (
    -- Count number of chat messages per appointment
    SELECT
        al.ActionBy AS AgentNric,
        YEAR(al.Time) AS AppointmentTime,
        al.CustomerId,
        al.ListingId,
        al.AppointmentDate,
        COUNT(c.Content) AS ChatCount
    FROM AppointmentLog al
    INNER JOIN Chat c ON al.CustomerId = c.CustomerId AND al.ListingId = c.ListingId
    WHERE al.Status = 'Completed'
    GROUP BY
        al.ActionBy,
        al.Time,
        al.CustomerId,
        al.ListingId,
        al.AppointmentDate
    HAVING COUNT(c.Content) >= 2  -- Only count the ones with at least 2 chat messages
),

-- After filtering out all the appointments that are completed and
-- also have more than 2 chat messages, count the number of appointments per agent
AgentCompletions AS (
    -- Calculate total qualified appointments per agent per year
    SELECT
    	ac.AgentNric,
    	ac.AppointmentTime,
    	COUNT(*) AS CompletedAppointments
    FROM AppointmentChats ac
    GROUP BY
        ac.AgentNric,
        ac.AppointmentTime
),
-- Now we want to rank the agents by their number of completed appointments for each year
RankedAgents AS (
    -- Rank agents by completed appointments within each year
    SELECT
        a.Nric,
        u.Name AS AgentName,
        a.LicenseNum,
        a.LicenseExpiry,
        a.AgencyName,
        ac.AppointmentTime,
        ac.CompletedAppointments,
        -- https://learn.microsoft.com/en-us/sql/t-sql/functions/row-number-transact-sql?view=sql-server-ver16
        -- we use ROW_NUMBER() instead of RANK(), because there can be a tie in number of
        -- completed appointments, and we don't want to show the same rank
        ROW_NUMBER() OVER (
        	-- we want to partition by the year time
            PARTITION BY ac.AppointmentTime
            ORDER BY ac.CompletedAppointments DESC
        ) AS YearRank
    FROM AgentCompletions ac
    JOIN Agent a ON ac.AgentNric = a.Nric
    JOIN [User] u ON a.Nric = u.Nric
    -- Only include agents with valid licenses during the appointment year
    WHERE YEAR(a.LicenseExpiry) >= ac.AppointmentTime
)
-- Get top 3 agents for each year from 2020 to 2023
SELECT
    ra.AppointmentTime AS Year,
    ra.AgentName AS "Agent Name",
    ra.LicenseExpiry AS "License Expiry",
    ra.AgencyName AS Affliation,
    ra.YearRank AS Rank
    -- show the number of completed appointments to check the rank
    -- ra.CompletedAppointments AS [Completed Appointments]
FROM RankedAgents ra
WHERE
    ra.YearRank <= 3  -- Top 3 only
    AND ra.AppointmentTime BETWEEN 2020 AND 2023
ORDER BY
    ra.AppointmentTime,
    ra.YearRank ASC;

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+------+-------------+----------------+----------------------------+------+
| Year |  Agent Name | License Expiry |         Affliation         | Rank |
+------+-------------+----------------+----------------------------+------+
| 2020 |  Isaac Wong |   2025-12-31   |   PropNex Realty Pte Ltd   |  1   |
| 2020 |  Julia Teo  |   2024-11-30   | ERA Realty Network Pte Ltd |  2   |
| 2020 | Kenneth Koh |   2026-10-15   |    Huttons Asia Pte Ltd    |  3   |
| 2021 | Kenneth Koh |   2026-10-15   |    Huttons Asia Pte Ltd    |  1   |
| 2021 |  Julia Teo  |   2024-11-30   | ERA Realty Network Pte Ltd |  2   |
| 2021 |  Marcus Lee |   2025-08-25   |        SRI Pte Ltd         |  3   |
| 2022 |   Lydia Ng  |   2023-09-20   |  OrangeTee & Tie Pte Ltd   |  1   |
| 2022 |  Isaac Wong |   2025-12-31   |   PropNex Realty Pte Ltd   |  2   |
| 2022 |  Julia Teo  |   2024-11-30   | ERA Realty Network Pte Ltd |  3   |
| 2023 |  Isaac Wong |   2025-12-31   |   PropNex Realty Pte Ltd   |  1   |
| 2023 |  Julia Teo  |   2024-11-30   | ERA Realty Network Pte Ltd |  2   |
| 2023 | Kenneth Koh |   2026-10-15   |    Huttons Asia Pte Ltd    |  3   |
+------+-------------+----------------+----------------------------+------+

# Explanation

This query is quite complex and requires quite a lot of processing so we will break down the query into smaller sub queries using `WITH` before selecting from them at the end.

We first look at the requirement of each appointment having at least two messages. That is the first subquery, `AppointmentChats`. We join AppointmentLog and Chat. We only want the appointments that are completed, and the appointments that have more than 2 chats. This will help us filter out only the valid appointments (with the minimum required amount of chats) that we need for further processing.

Then we want to group these appointments per agent. So we use a group by and count the number of appointments per agent. This is in the `AgentCompletions` subquery.

Then we want to rank the agents. Because the query is to find out the top 3 agents for *each* year from 2020 to 2023, we will use `ROW_NUMBER()` and `PARTITION` together. `PARTITION` by the appointment time (yearly), will give us each year for `ROW_NUMBER()` to then rank. We will rank them according ot the number of completed appointments. We ensure that the validity of the agent is valid in this period as well. This will be in the `RankedAgents` sub-query table.

Then we will select from this table, and only select the top 3 ranks. As `ROW_NUMBER()` will rank as many as it can, we only select the top 3 as per the requirements. Then we sort by descending to achieve the result.

6. Create a trigger to calculate the total views for all properties and update its engagement status accordingly.

In [ ]:
%%sql
-- create a column to keep track of views
IF NOT EXISTS (
  SELECT 1
  FROM sys.columns
  WHERE object_id = OBJECT_ID('dbo.Listing')
  AND name = 'total_views'
)
BEGIN
  ALTER TABLE dbo.Listing ADD total_views INT DEFAULT 0
END

IF NOT EXISTS (
  SELECT 1
  FROM sys.columns
  WHERE object_id = OBJECT_ID('dbo.Listing')
  AND name = 'engagement_status'
)
BEGIN
  ALTER TABLE dbo.Listing ADD engagement_status INT DEFAULT 0
END

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

Adding columns `total_views` and `engagement_status`  to the `Listing` table to keep track of the number of views as well as the status of the listing.

In [20]:
%%sql
-- drop trigger if it exists
IF EXISTS (SELECT * FROM sys.triggers WHERE name = 'VH_trigger')
BEGIN
  DROP TRIGGER VH_trigger
END

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

Deletes existing trigger if it already exists (sanity check).

In [21]:
%%sql
-- Create trigger
CREATE TRIGGER VH_trigger
ON ViewingHistory
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    WITH TotalViews AS(
        SELECT ListingId,
               COUNT(*) AS view_count
        FROM ViewingHistory
        GROUP BY ListingId
    )
    UPDATE l
    SET l.total_views = ISNULL(v.view_count, 0),
        l.engagement_status = CASE
            -- 0 views
            WHEN ISNULL(v.view_count, 0) = 0 THEN 'New'

            -- property sold
            WHEN EXISTS(
              SELECT DISTINCT S.ListingId
              FROM SaleMain S
              WHERE S.ListingId = l.Id
            ) THEN 'Completed'

           -- property in discussion
            WHEN EXISTS(
              SELECT DISTINCT A.ListingId
              FROM AppointmentLog A
              WHERE A.ListingId = l.Id
            ) THEN 'In Discussion'

            -- viewed n number of times
            ELSE 'Viewed' + CAST(ISNULL(v.view_count, 0) AS VARCHAR(10)) + ' times'
          END
    FROM Listing l
    LEFT JOIN TotalViews v ON l.Id = v.ListingId
END

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

RuntimeError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid column name 'total_views'. (207) (SQLExecDirectW)")
[SQL: CREATE TRIGGER VH_trigger
ON ViewingHistory
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    WITH TotalViews AS(
        SELECT ListingId,
               COUNT(*) AS view_count
        FROM ViewingHistory
        GROUP BY ListingId
    )
    UPDATE l
    SET l.total_views = ISNULL(v.view_count, 0),
        l.engagement_status = CASE

            WHEN ISNULL(v.view_count, 0) = 0 THEN 'New'


            WHEN EXISTS(
              SELECT DISTINCT S.ListingId
              FROM SaleMain S
              WHERE S.ListingId = l.Id
            ) THEN 'Completed'


            WHEN EXISTS(
              SELECT DISTINCT A.ListingId
              FROM AppointmentLog A
              WHERE A.ListingId = l.Id
            ) THEN 'In Discussion'


            ELSE 'Viewed' + CAST(ISNULL(v.view_count, 0) AS VARCHAR(10)) + ' times'
          END
    FROM Listing l
    LEFT JOIN TotalViews v ON l.Id = v.ListingId
END]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

We initialise `total_views` as 0. This causes the engagement status to read as 'New'. Each time the listing is accessed, the `total_views` count goes up by 1.

When the ListingId of the property is found in the `SaleMain` table, this is an indicator that the property has been sold. Thus, the egnagement status will be 'Completed'.

If the property hasn't been sold but it is found inside the `AppointmentLog` table, ths is an indicator that the property is in discussion. Hence, the engagement status is 'In Discussion'.

If all previous cases fall through, we output the number of times the listing has been viewed.

We collate all this information inside `TotalViews`, which is then joined with Listing.